.footer__column-link {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    transition: all 1s ease;
  }

  .footer__column-link:hover {
    opacity: 0.5;
  }